
* {
  margin: 0;
  padding: 0;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f94449;
  color: white;
  padding: 10px;
  font-family: monospace;
  margin-bottom: 50px;
}

.navbar > * {
  padding: 5px;
}

.card--image {
  width: 300px;
  border-radius: 30px;
  height: 180px;
  max-height: 180px;
}

.pin--icon {
  width: 20px;
}

.card--div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
}

.place-span {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: grey;
}

.card--div > * {
  padding: 10px;
}

.place-span > * {
  padding: 5px;
}


.card--content {
  text-align: left;
  width: 800px;
}

h2 {
  margin-bottom: 10px;
}

a {
  color: grey;
}
